ion-content {
    --background: #f9f9f9; /* Fondo gris claro */
  }
  
  ion-card {
    --ion-card-background: #ffffff; /* Fondo blanco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }
  
  ion-card-header {
    color: #333333; /* Texto oscuro */
  }
  
  ion-button {
    margin: 10px;
  }
  