<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>actualizar</ion-title>
  </ion-toolbar>
</ion-header>

<form >
  <ion-item>
    <ion-label position="floating">Nombre: </ion-label>
    <ion-input type="text" name="nombre" [(ngModel)]="asignatura.nombre" placeholder="Matemática" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Profesor: </ion-label>
    <ion-input type="text" name="nombre" [(ngModel)]="asignatura.profesor" placeholder="Juan Perez" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Imagen: </ion-label>
    <input type="file" (change)="onFileChange($event)" accept="image/*" />
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button (click)="updateAsignatura()" expand="block" color="success">Actualizar asignatura</ion-button>
    </ion-col>
  </ion-row>

</form>

<div *ngIf="imageUrl">
  <h2>Imagen Previa:</h2>
  <img [src]="imageUrl" alt="Vista previa" style="max-width: 100%; height: auto;" />
</div>
