<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="regresar()">
        Regresar
      </ion-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalle Profesor</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Id: {{profesores.id}}</ion-card-subtitle>
      <ion-card-title>Nombre: {{profesores.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Apellido: {{profesores.apellido}}<br>
        Materia: {{profesores.materia}}<br>
        Correo: {{profesores.correo}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>


